<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <!-- load bootstrap css -->
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Register new password</h3>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/auth/reset-password" method="post">
          <div class="form-group">
            <label>New password</label>
            <input
              id="password"
              type="password"
              class="form-control"
              name="password"
              required
              minlength="8"
              maxlength="16"
              onkeyup="check();"
              onchange="empty()"
            />
          </div>
          <div class="form-group">
            <label>Confirm password</label>
            <input
              id="confirmPassword"
              type="password"
              class="form-control"
              name="confirmPassword"
              required
              minlength="8"
              maxlength="16"
              onkeyup="check();"
              onchange="empty()"
            />
            <span id="message"></span>
          </div>

          <input type="hidden" name="email" id="user-email" />
          <button id="submitbtn" type="submit" class="btn btn-primary btn-lg">
            Submit
          </button>
        </form>

        <hr />
        <!-- edit -->
        <!-- <p>Go back to <a href="/login">Login</a> page.</p> -->
      </div>
    </div>
    <script>
      var email = "<%=email%>";
      console.log(email);

      var check = function () {
        if (
          document.getElementById("password").value ===
          document.getElementById("confirmPassword").value
        ) {
          document.getElementById("message").style.color = "green";
          document.getElementById("message").innerHTML = "Matching";
        } else {
          document.getElementById("message").style.color = "red";
          document.getElementById("message").innerHTML = "Not matching";
          console.log(document.getElementById("message").innerHTML);
        }
      };
      var empty = function () {
        if (
          document.getElementById("password").value === "" &&
          document.getElementById("confirmPassword").value === ""
        ) {
          document.getElementById("message").innerHTML = "";
        }
      };
      document
        .getElementById("submitbtn")
        .addEventListener("click", function (event) {
          if (document.getElementById("message").innerHTML === "Not matching") {
            event.preventDefault();
          }
        });

      document.getElementById("user-email").value = email;
      console.log(document.getElementById("user-email").value);
    </script>
  </body>
</html>
